@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
}

body {
    background-color: black;
    /* background: linear-gradient(to right, black,white 50%,rgb(43,43,113),bisque); */
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: (1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 23px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 15px;
}

.separation {
    height: 11px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 10px;
    font-weight: 400;
    color: white;
    background-color: rgba(243, 248, 248, 0.226);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding: 4px 24px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;

}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main input {
    padding: 7px 100px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 371px;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 324px;
    height: 195px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 17px;
}

.faq {
    background-color: black;
    color: white;
    padding: 35px;
}

.faq h2 {
    text-align: center;
    font-size: 32px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 0.5s ease-out;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: rgba(108 108 108 / 62%);
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 90vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 371px;

    }

    .secImg video {
        width: 371px;

    }


    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }

}

.footer a {
    color: white;
    text-decoration: none
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}